<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Menu MediaRent</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/componentes/header.css" />
    <link rel="stylesheet" href="/styles/componentes/general.css" />
    <link rel="stylesheet" href="/styles/componentes/buttons.css" />
    <link rel="stylesheet" href="/styles/componentes/product-card.css" />
    <link rel="stylesheet" href="/styles/vistas/shopping-cart.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__main">
        <img
          src="/images/logo.png"
        />
        <div>
          <h2>MediaRent</h2>
          <p>Federico Deniard</p>
          <p>Delfina Garcia Ocampo</p>
        </div>
      </div>
      <div class="header__nav">
        <form action="/api/admin/logout" method="POST" id="logout">
          <button type="submit">
            <img src="/images/logout.svg" alt="Salir" />
            <span>Salir</span>
          </button>
        </form>
      </div>
    </header>
    <section>
      <form class="form --center">
        <h1>Productos</h1>
        <div class="row --fit-content">
          <label for="peliculas">Mostrar</label>
          <span class="checkbox-container">
            <input type="checkbox" id="peliculas" checked />
            <label for="peliculas">Peliculas</label>
          </span>
          <span class="checkbox-container">
            <input type="checkbox" id="series" checked />
            <label for="series">Series</label>
          </span>
        </div>
      </form>

      <div id="products">
        <!--en este se cargan los productos y se filtran según corresponda-->
        <% products.forEach(p => { %>
        <div
          class="product-card <%= p.media.available ? '' : 'hidden' %>"
          data-id="${p.media.id}"
        >
          <div class="header">
            <div class="left-header">
              <h2>
                <span><%= p.media.title %></span>
                <% const fechaStr = p.released_date; const fecha = fechaStr ?
                new Date(fechaStr) : null; if (fecha) { const yyyy =
                fecha.getFullYear(); const mm = String(fecha.getMonth() +
                1).padStart(2, '0'); const dd =
                String(fecha.getDate()).padStart(2, '0'); %>
                <em>(<%= `${yyyy}/${mm}/${dd}` %>)</em>
                <% } %>
              </h2>
              <p class="sub-directors">
                <%= p.media.directors.map((d) => d.director.name).join(", ") %>
              </p>
              <% if (p.seasons) { %>
              <p><%= p.seasons %> temporadas</p>
              <% } %>
            </div>
            <div class="right-header">
              <img src="/images/star.svg" alt="Star" />
              <span><%= p.media.rate %></span>
            </div>
          </div>
          <div class="img-container">
            <img
              src="<%= p.media.thumbnail %>"
              alt="<%= p.media.title %>"
              onerror="this.src='/images/not-found.svg'"
            />
          </div>
          <p class="description">
            <b>Descripción:</b> <%= p.media.description %>
          </p>
          <p class="genres">
            <b>Géneros:</b>
            <% p.media.genres.forEach((g, i) => { %> <%= g.genre.name %><% if (i
            < p.media.genres.length - 1) { %>,<% } %> <% }) %>
          </p>

          <div class="card-form">
            <div class="form-left"></div>

            <div class="form-right">
              <p class="price">
                $<span class="price-span"> <%= p.media.price %> </span>
              </p>
              <form
                action="/api/admin/edit/<%= p.media.id %>"
                method="POST"
                style="display: inline"
              >
                <button type="submit" class="button --yellow">Editar</button>
              </form>

              <% if (p.media.available === true) { %>
              <form
                action="/api/admin/delete/<%= p.media.id %>"
                method="POST"
                style="display: inline"
              >
                <button type="submit" class="button --red">Dar de baja</button>
              </form>
              <% } else { %>
              <form
                action="/api/admin/activate/<%= p.media.id %>"
                method="POST"
                style="display: inline"
              >
                <button type="submit" class="button --green">
                  Dar de alta
                </button>
              </form>
              <% } %>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
  </body>
</html>
